<div class="container">
<h1 class="text-center">{{title}}</h1>
<p class="text-justify text-secondary mt-4">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Corporis tempora ab neque ullam, nisi reiciendis distinctio voluptate,
    illo inventore ex, sequi officiis doloremque alias temporibus est quis
    suscipit voluptates explicabo.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Corporis tempora ab neque ullam, nisi reiciendis distinctio voluptate,
    illo inventore ex, sequi officiis doloremque alias temporibus est quis
    suscipit voluptates explicabo.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Corporis tempora ab neque ullam, nisi reiciendis distinctio voluptate,
    illo inventore ex, sequi officiis doloremque alias temporibus est quis
    suscipit voluptates explicabo.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    Corporis tempora ab neque ullam, nisi reiciendis distinctio voluptate,
    illo inventore ex, sequi officiis doloremque alias temporibus est quis
    suscipit voluptates explicabo.</p>
</div>