<footer class="bg-light pt-5 text-secondary border-top pb-4">
    <div class="row">
        <div class="col-sm-5 offset-1">
            <div class="row">
        
        <p class="ml-5 mr-3">Follow us:</p>

        <a href="https://facebook.com/" target="_blank"><i class="fa fa-facebook fa-lg  mr-3 text-danger" aria-hidden="true"></i></a>
        <a href="https://instagram.com/" target="_blank"><i class="fa fa-instagram fa-lg mr-3 text-danger" aria-hidden="true"></i></a>
        <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter fa-lg text-danger" aria-hidden="true"></i></a>
        </div>
    </div>
        <div class="col-sm-5 offset-1 text-center"> 
            <p id="p1">&copy; 2020 John Doe All Rights Reserved</p>
        </div>   
    </div>
</footer>