<div class="container">
    <div class="row">
        <div class="col-md-4 ">
            <img [attr.src]="concert.img">
        </div>
        <div class="col-md-7 offset-md-1">
            <h4 class="display-4 mt-3 mb-4">{{concert.name}}</h4>
            <p class="text-justiy text-secondary">{{concert.description}}</p>
            <p class="text-secondary"><b>Date: </b>{{concert.date | date: 'dd MMMM,yyyy hh:mm a'}}</p>
            <p class="text-secondary"><b>Venue: </b>{{concert.venue}}</p>
            <p class="text-secondary"><b>City:</b> {{concert.city}}</p>

            <div class="form-group">
                <button class="btn btn-lg btn-secondary btn-block mt-5"
                        type="submit"> Book ticket
                </button>
            </div>
        </div>
    </div>
</div>